.not-found-user-container {
    padding: 10px;
    position: relative;

    .back-btn-wrapper {
        position: relative;
        background-color: #68656814;
        width: 80px;
        height: 30px;
        cursor: pointer;
        box-shadow: 2px 3px 2px 0px #3e3e3e;

        span {
            position: absolute;
            line-height: 32px;
            margin-left: 14px;
            font-size: 18px;
        }

        .btn {
            margin-left: 32px;
            line-height: 30px;
        }
    }

     .not-found-user {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: red;
        font-weight: bold;
        font-size: 30px;
    }
}
